<!-- bottom_nav.ejs
Ildaphonse Cornolius
ID: 300699371
Date: October 30, 2022 -->
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h7 class="display-6 navbar-text">&copy; Copyright 2022. Ildaphonse Cornolius.</h6>
    </nav>
  </footer>