<!-- footer.ejs
Ildaphonse Cornolius
ID: 300699371
Date: October 30, 2022 -->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>