<!-- index.ejs
Ildaphonse Cornolius
ID: 300699371
Date: October 30, 2022 -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<style>



  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .title1{
  font-size: xx-large;
  }
  
  .title2{
  font-size: small;
  }
  
  
  </style>
  <!-- 
  Displaying a welcome message to the user  -->
  
  <header>
    Home
</header>
  <h1>Welcome to my home page!</h1>
  <br>
  
  <div class="title1">Mission Statement:</div>
  <br>
  
  <p class="title2">
      Our company wants to make useful applications that can enrich the lives of others!</p>
  
      <br>
  <h4>Please click this button to enter the about page.</h4>
  <br>
  <!-- Links to the about page .ejs file  -->
  <a href="/about" class="button">Go to About Page</a>
  
  

  <%- include partials/bottom_nav.ejs %>  
  




