<!-- services.ejs
Ildaphonse Cornolius
ID: 300699371
Date: October 30, 2022 -->

<link rel="stylesheet" href="./css/bootstrap.min.css">

<!-- including the header ejs file as a navigation bar. -->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- 
Listing the different services the company provides  using lists -->
<header>
  Services
</header>
<h4>Services</h4>
  <ul>
    <li>
        Tutoring : 1 hour lessons in programming depending on what type of language learnt.
        
    </li>
    <li>
        Logo Design Work: I can develop an artistic logo of your choice to use for your company.
    </li>
    <li>
        Web design: I can develop a website for your company suited to your needs.
    </li>
    <li>
        Mobile development: I can develop a mobile app for your company that can increase your market penetration.
    </li>

  </ul>
<!-- displaying images of the different services the company provides  -->
  <img height="200px" width="200px" src="Assets/images/tutor.jpg"/>
  <img height="200px" width="200px" src="Assets/images/logodesign.jpeg"/>
  <img height="200px" width="200px" src="Assets/images/webdesign.jpg"/>
  <img height="200px" width="200px" src="Assets/images/appdevelopment.jpeg"/>

  <%- include partials/bottom_nav.ejs %>  